target/
.targets/
*.swp
.envrc
tags

# sbt-slamdata common resources
/scripts/checkAndAutoMerge
/scripts/commonSetup
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/pgppassphrase.sbt.enc
/scripts/publishAndTag
/pubring.pgp.enc
/scripts/readVersion
/secring.pgp.enc

# To avoid having to regenerate the ssh key every time:
key_for_docker
key_for_docker.pub
